{{ $Xzya := "<a href=\"https://github.com/Xzya/hugo-bootstrap\">Xzya</a>" }}
{{ $HugoThemeBootstrap4Blog := "<a href=\"https://github.com/alanorth/hugo-theme-bootstrap4-blog\">hugo-theme-bootstrap4-blog</a>" }}
{{ $links := (dict "Xzya" $Xzya "HugoThemeBootstrap4Blog" $HugoThemeBootstrap4Blog ) }}
{{ $thanks := i18n "thanks" $links | safeHTML }}

{{ $copyright := default $thanks .Site.Copyright }}

<footer class="blog-footer w-100">
    <nav class="navbar navbar-light bg-light">
        <p class="w-100 text-center">{{ $copyright }}</p>
        <p class="w-100 text-center"><a href="#">{{ i18n "backToTop" }}</a></p>
    </nav>
</footer>
